<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Seneca HR System</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{>header}}
    <br>
    <h2>Employee Information</h2>

        <form class="empForm" id="employeeForm" method="post" action="/employeedetail">
        <div class="form-empdetail">
            {{#each employeeRecord}}
                <label for="empId">Employee ID:</label> 
                <label for="empId" value="{{this.[0]}}"{{this.[0]}}></label>
                <input id="empId" name="empId" type="text" hidden value={{this.[0]}}>
                <input id="empIdDisplay" type="text" disabled value={{this.[0]}}>                   
                <br>
                <br>
                <label for="fname">First Name:</label> 
                <input id="fname" name="fname" type="text" disabled value={{this.[1]}}>
                <br>
                <br>
                <label for="lname">Last Name:</label> 
                <input id="lname" name="lname" type="text" disabled value={{this.[2]}}>
                <br>
                <br>
                <label for="email">Email: </label> 
                <input id="email" name="email" type="text" value={{this.[3]}}>
                <br>
                <br>
                <label for="phone">Phone: </label> 
                <input id="phone" name="phone" type="text" value={{this.[4]}}>
                <br>
                <br>
                <label for="hiredate">Hire Date: </label> 
                <input id="hiredate" name="hiredate" type="text" disabled value={{this.[5]}}>
                <br>
                <br>
                <label for="jobId">Job ID:</label> 
                <input id="jobId" name="jobId" type="text" disabled value={{this.[6]}}>
                <br>
                <br>
                <label for="salary">Salary:</label> 
                <input id="salary" name="salary" type="text" value={{this.[7]}}>
                <br>
                <br>
                <label for="commission">Commission:</label> 
                <input id="commission" name="commission" type="text" disabled value={{this.[8]}}>
                <br>
                <br>
                <label for="managerId">Manager ID: </label> 
                <input id="managerId" name="managerId" type="text" disabled value={{this.[9]}}>
                <br>
                <br>
                <label for="deptId">Department ID: </label> 
                <input id="deptId" name="deptId" type="text" disabled value={{this.[10]}}>
                <br>
            {{/each}}
        </div>

        <section class="buttons">
            <button id="cancel" name="btnsubmit" type="submit" value="cancel">Cancel</button>
            <button id="submit" name="btnsubmit" type="submit" value="submit">Submit</button> 
        </section>
        </form>
  </body>
</html>