<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Seneca HR System</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{>header}}
    <br>
    <h2>Employee List</h2>

    <form class="empFormList" id="employeeFormList" method="post" action="/employee">
    <button id="submit" name="btnsubmit" type="submit" value="home">Home</button> 
    <button id="submit" name="btnsubmit" type="submit" value="hireForm">Add a New Employee</button> 
    <br>
    <br>
    <label for="empID">Employee ID: </label>
    <input id="empID" name="empID" type="text">
    <button class="editbtn" id="submit" name="btnsubmit" type="submit" value="editEmp">Edit</button>
    <br>
    <br>
        <table>
            <thead>
                <tr>
                    <th>Emp. ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Hire Date</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>% Commission</th>
                    <th>Man. ID</th>
                    <th>Dept ID</th>
                </tr>
            </thead>
            <tbody>
                {{#each employees}}
                <tr>
                    <td>{{this.[0]}}</td>
                    <td>{{this.[1]}}</td>
                    <td>{{this.[2]}}</td>
                    <td>{{this.[3]}}</td>
                    <td>{{this.[4]}}</td>
                    <td>{{this.[5]}}</td>
                    <td>{{this.[6]}}</td>
                    <td>{{this.[7]}}</td>
                    <td>{{this.[8]}}</td>
                    <td>{{this.[9]}}</td>
                    <td>{{this.[10]}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
  </body>
</html>
