<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Seneca HR System</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{>header}}
    <br>
    <h2>Employee Hiring Form</h2>

        <form class="empForm" id="employeeForm" method="post" action="/hireForm">
        <div class="form-empinfo">
            <h3>Employee Information</h3>
                <label for="fname">First Name</label>
                <input id="fname" name="fname" type="text" placeholder="John" value="">
                <br>
                <br>
                <label for="lname">Last Name</label>
                <input id="lname" name="lname" type="text" placeholder="Smith" value="">
                <br>
                <br>
                <label for="email">Email</label>
                <input id="email" name="email" type="text" placeholder="JSmith" value="">
                <br>
                <br>
                <label for="phone">Phone</label>
                <input id="phone" name="phone" type="text" placeholder="123.456.7890" value="">
                <br>
                <br>
                <label for="hiredate">Hire Date</label>
                <input id="hiredate" name="hiredate" type="date" disabled>
                <br>
                <br>
                <label for="salary">Salary</label>
                <input id="salary" name="salary" type="text" placeholder="5000.00" value="">
        </div>
        
        <div class="form-info">
            <h3>Job Information</h3>
            <label for="jobInd">Job_Id and Job_Title</label>
            <br>
            <br>
            <select id="jobId" name="jobId">
                {{#each jobList}}
                <option value="{{this.[0]}}">{{this.[0]}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-info">
            <h3>Manager</h3>
            <label for="managerId" name="managerId">Manager_Id and Manager_Name</label>
            <br>
            <br>
            <select id="managerId" name="managerId">
                {{#each managerList}}
                <option value="{{this.[0]}}">{{this.[0]}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-info">
            <h3>Department</h3>
            <label for="deptId" name="deptId">Department_Id and Department_Name</label>
            <br>
            <br>
            <select id="deptId" name="deptId">
                {{#each deptList}}
                <option value="{{this.[0]}}">{{this.[0]}}</option>
                {{/each}}
            </select>
        </div>

    <section class="buttons">
        <button id="cancel" name="btnsubmit" type="submit" value="cancel">Cancel</button>
        <button id="submit" name="btnsubmit" type="submit" value="hire">Hire</button> 
    </section>
    </form>
</body>
</html>