<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Seneca HR System</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{>header}}
    <br>
    <h2>Employee Information</h2>

        <form class="empForm" id="employeeForm" method="post" action="/jobdetail">
        <div class="form-jobdetail">
            {{#each jobRecord}}
                <label for="jobId">Job ID:</label> 
                <input id="jobId" name="jobId" type="text" hidden value={{this.[0]}}>
                <input id="jobIdDisplay" type="text" disabled value={{this.[0]}}>                   
                <br>
                <br>
                <label for="title">Title:</label> 
                <input id="title" name="title" type="text" value={{this.[1]}}>
                <br>
                <br>
                <label for="minsal">Minimum Salary:</label> 
                <input id="minsal" name="minsal" type="text" value={{this.[2]}}>
                <br>
                <br>
                <label for="maxsal">Maximum Salary: </label> 
                <input id="maxsal" name="maxsal" type="text" value={{this.[3]}}>
                <br>
            {{/each}}
        </div>

        <section class="buttons">
            <button id="cancel" name="btnsubmit" type="submit" value="cancel">Cancel</button>
            <button id="submit" name="btnsubmit" type="submit" value="submit">Submit</button> 
        </section>
        </form>
  </body>
</html>