<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Seneca HR System</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{>header}}
    <br>
    <h2>List of Positions</h2>

    <form class="empFormList" id="employeeFormList" method="post" action="/job">
    <button id="submit" name="btnsubmit" type="submit" value="home">Home</button> 
    <button id="submit" name="btnsubmit" type="submit" value="jobForm">Add a New Position</button> 
    <br>
    <br>
    <label for="jobId">Job ID: </label>
    <input id="jobId" name="jobId" type="text">
    <button class="editbtn" id="submit" name="btnsubmit" type="submit" value="editJob">Edit</button>
    <button class="editbtn" id="submit" name="btnsubmit" type="submit" value="jobdesc">Job Description</button>
    <label for="jobdesc" name="jobdesc" type="text">{{#each jobRecord}}{{this.[1]}}{{/each}}</label>
    <br>
    <br>
        <table>
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Job Title</th>
                    <th>Minimum Salary</th>
                    <th>Maximum Salary</th>
                </tr>
            </thead>
            <tbody>
                {{#each jobs}}
                <tr>
                    <td>{{this.[0]}}</td>
                    <td>{{this.[1]}}</td>
                    <td>{{this.[2]}}</td>
                    <td>{{this.[3]}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
  </body>
</html>
